# Auto detect text files and perform LF normalization
* text=auto
*.md text diff=markdown

#
# Exclude files from exporting
#

.gitattributes export-ignore
.gitignore export-ignore
.gitkeep export-ignore